.header {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin-top: -50px;
    .left {
        margin-left: 170px;
        span {
           margin-right: 50px;
           font-family: var(--main-font);
           font-size: 18px;
           color: #000;
           font-weight: 600;
           cursor: pointer;
        }
    }
    .right {
        margin-right: 180px;
        span {
            margin-right: 50px;
            cursor: pointer;
            font-family: var(--main-font);
            font-size: 18px;
            color: #000;
            font-weight: 600;
         }
    }
}